@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 50px;
  font-family: "Jost";
  text-align: center;
  position: relative;
}

body {
  background-color: rgb(0, 100, 100);
  padding: 0px;
  margin: 50px;
}


button,
div {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

a {
  text-decoration: none;
  color: #beffe4;
  border-radius: 10px;
}

.invisidiv {
  border: 0px;
  margin: 0px;
  padding: 0px;
  background-color: rgba(0,0,0,0);
  border-radius: 0px;
}

.galleryItem {
  border-radius: 25px;
  margin: 10px;
}

.sketchThumbnail {
  margin: 30px;
  border-radius: 30px;
  color: rgb(0,100,100);
  outline: solid;
  outline-width: 5px;
}

.wholePageContainer{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1));
}

.stdHalfCol{
  vertical-align: top;
  height: 400px; 
  width: calc(50% - 40px); 
  display: inline-block;
}

.stdHalfCol.sketch{
  height:400px;
}

#galleryContainer{
  border-radius: 35px;
}


