@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700&display=swap');

:root
{
    --maincol: #006464;
    --accentcol: #004646;
    --textmain: #beffe4;
    --textsub: #beffe4;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 30px;
  font-family: "Jost";
  text-align: center;
  position: relative;
}

body {
  background-color: var(--maincol);
  padding: 0px;
}

h1 {
  font-size: 100px;
  color: var(--textmain);
}

button,
div {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

a {
  text-decoration: none;
  color: var(--textsub);
  border-radius: 10px;
}

.invisidiv {
  border: 0px;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  border-radius: 0px;
}

.galleryItem {
  border-radius: 25px;
  margin: 10px;
}

.sketchThumbnail {
  position: absolute;
  color: transparent;
  outline: solid;
  height: 100%;
  width: 100%;
  object-fit:cover;
  filter: brightness(0.3) blur(2px); 
  transition: 450ms;
}

.sketchThumbnail:hover {
  filter: brightness(1)
}

.wholePageContainer{
  background-color: rgba(0.5,0.5,0.5,0.3);
}

.stdHalfCol{
  vertical-align: top;
  height: 400px; 
  width: calc(50% - 40px); 
  display: inline-block;
  background-color:transparent
}

.stdHalfCol.sketch{
  width:auto;
  height:400px;
  overflow: hidden;
  display: flex;
  flex-direction:column-reverse;
  align-items: center;
  justify-content: center;
  margin:0px;
  border:4px double #beffe4
}

#sketchesContainer{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit,minmax(max(0%,280px),1fr));
}

#galleryContainer{
  border-radius: 35px;
}